Path with reserved characters does not return percent encoding (PSR-7 violation)

I found a possible double issue with the management of encoded/unencoded paths.

Given this path `/email/foo+extension@example.com` (an email address as path segment)

the following snippet return wrong results.

```php
$request = new Request('GET', 'http://example.com/email/foo+extension@example.com');

echo $request->getPath(); /* /email/foo+extension@example.com */
```

### First error: `getPath` *MUST* return `percent-encoded` values.

>  * The value returned MUST be percent-encoded, but MUST NOT double-encode
>  * any characters. To determine what characters to encode, please refer to
>  * RFC 3986, Sections 2 and 3.3.
> 
> https://github.com/php-fig/fig-standards/blob/17945666b0b5c78691dca65405aae21e3e403539/proposed/http-message.md

So `$request->getPath();` *MUST* return `/email/foo%2Bextension%40example.com` (characters `+` and `@` percent-ecoded`

### Second issue: `+`, `@` and the rest of reserved words if present in the path are interpreted as already encoded

What's the problem? IMO is the same problem fixed on the release 5.0.3 with the query parameters encoding

Guzzle v5 will not change this behavior.