base uri always remove path

` 
  $client = new Client([
      'base_uri' => 'http://example.com/api/',
  ]);
$response = $client->request('GET', 'product/1');

return $response->getBody()->getContents();
`
expect 'http://example.com/api/product/1'
but it returns 'http://example.com/product/1'
why guzzle always remove '/api/' ?? I am using guzzle 7


It will only do this if you do `$client->request('GET', '/product/1');`. Can you check your code?

I'm having the same issue:

```
>>> $client = new GuzzleHttp\Client([
...     'base_uri' => 'https://example.com/v1',
...     'headers' => ['Authorization' => "Bearer ..."],
... ]);
=> GuzzleHttp\Client {#5708}
>>> 
>>> $client->post('rooms');
GuzzleHttp\Exception\ClientException with message 'Client error: `POST https://example.com/rooms` resulted in a `404 Not Found`
```

Of course I get a 404 because my path should be v1/rooms and not /rooms.

Okay, my bad. Shoul've used `https://example.com/v1/` (mind the trailing slash)

@donny26utama :eyes: 

Correct. We are following RFC 3986 section 4.3 for how to deal with base URIs and building URIs. Examples:

<img width="592" alt="image" src="https://user-images.githubusercontent.com/2829600/146935405-1d06c9b5-c95c-4b3e-be50-48cd7b20131c.png">
