SetCookie does not support omitting Domain attribute

**Guzzle version(s) affected**: 7.10.0 (but also earlier)
**PHP version**: any
**cURL version**: any

**Description**  
When storing a Set-Cookie value in the CookieJar, I would like to store a cookie without a Domain attribute, so that when this information is later reused to render a set-cookie header on the response to the browser, it is interpreted as a "host cookie".

This is correct behavior per RFC 6265 which the SetCookie class claims to follow according to the comment above the validate method.

This is not the same as setting the Domain to that specific host, since that will allow reading on subdomains as well.
We are using Guzzle to query a GraphQL server, which can return set-cookie headers, which we then store in the Guzzle CookieJar and later forward with the actual response to the browser. This GraphQL server may also be queried directly from the browser. Since the GraphQL server does not specify a Domain attribute, the cookie becomes a host cookie. But since Guzzle requires us to set a Domain we get conflicting versions of the same cookie (seen in devtools as a domain with a leading period and the host cookie without a leading period).

**How to reproduce**  
```php
<?php

use GuzzleHttp\Cookie\CookieJar;
use GuzzleHttp\Cookie\SetCookie;

$cookieJar = new CookieJar($strictMode = true);
$setCookie = new SetCookie([
    'Name' => 'test',
    'Value' => 'test',
]);

$cookieJar->setCookie($setCookie); // RuntimeException: Invalid cookie: The cookie domain must not be empty
```

**Possible Solution**  
Allow an unset domain in `SetCookie::validate()`, but I don't know if this will lead to issues elsewhere if the domain is assumed to always be present.

**Additional context**  

RFC 6265 section 5.2.3 specifies how to parse the value of the Domain attribute, I think Guzzle implements this correctly in the validate method, as far as I can tell:
https://www.rfc-editor.org/rfc/rfc6265.html#section-5.2.3

But section 4.1.2.3 specifies how a missing Domain attribute should be handled:
https://www.rfc-editor.org/rfc/rfc6265.html#section-4.1.2.3

The relevant part is:
> If the server omits the Domain attribute, the user agent will return the cookie only to the origin server.

This does not seem to be supported by Guzzle right now, making it impossible to store this in the CookieJar.
